shots/Shorts_Complete_v5.json
{
  "name": "Shorts_Complete_v5",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 6
            }
          ]
        }
      },
      "id": "00ac252b-d34d-4565-9a4e-a45fc66ce9ed",
      "name": "1. 6시간마다 실행",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        -3424,
        400
      ]
    },
    {
      "parameters": {
        "jsCode": "// 모니터링할 시니어 건강 채널 리스트 (검증된 5개)\nconst targetChannels = [\n  { id: 'YOUR_CHANNEL_ID_1', name: '건강박사TV', avgViews: 10000 },\n  { id: 'YOUR_CHANNEL_ID_2', name: '시니어건강연구소', avgViews: 15000 },\n  { id: 'YOUR_CHANNEL_ID_3', name: '실버라이프', avgViews: 8000 },\n  { id: 'YOUR_CHANNEL_ID_4', name: '할머니건강비법', avgViews: 12000 },\n  { id: 'YOUR_CHANNEL_ID_5', name: '노년건강', avgViews: 9000 }\n];\n\nreturn targetChannels.map(channel => ({\n  json: channel\n}));"
      },
      "id": "45732491-a081-4b24-92b3-56d829bf0a9f",
      "name": "2. 타겟 채널 리스트",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -3232,
        400
      ]
    },
    {
      "parameters": {
        "url": "https://www.googleapis.com/youtube/v3/search",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "part",
              "value": "snippet"
            },
            {
              "name": "channelId",
              "value": "={{ $json.id }}"
            },
            {
              "name": "order",
              "value": "date"
            },
            {
              "name": "type",
              "value": "video"
            },
            {
              "name": "videoDuration",
              "value": "short"
            },
            {
              "name": "publishedAfter",
              "value": "={{ $now.minus({days: 7}).toISO() }}"
            },
            {
              "name": "maxResults",
              "value": "10"
            },
            {
              "name": "key",
              "value": "YOUR_YOUTUBE_API_KEY"
            }
          ]
        },
        "options": {}
      },
      "id": "d3909840-4099-4b5d-890b-c5dc3a5f1953",
      "name": "3. 채널별 최근 1주 영상",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -3024,
        400
      ]
    },
    {
      "parameters": {
        "url": "https://www.googleapis.com/youtube/v3/videos",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "part",
              "value": "statistics,contentDetails"
            },
            {
              "name": "id",
              "value": "={{ $json.items.map(item => item.id.videoId).join(',') }}"
            },
            {
              "name": "key",
              "value": "YOUR_YOUTUBE_API_KEY"
            }
          ]
        },
        "options": {}
      },
      "id": "675b9a64-c0e9-46cf-b4ff-b47f9e92d88a",
      "name": "4. 통계 수집",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -2832,
        400
      ]
    },
    {
      "parameters": {
        "jsCode": "// 채널별 이상치 감지 알고리즘\nconst channelId = $('2. 타겟 채널 리스트').item.json.id;\nconst channelName = $('2. 타겟 채널 리스트').item.json.name;\nconst expectedAvg = $('2. 타겟 채널 리스트').item.json.avgViews;\n\nconst videos = $json.items || [];\n\nconst viewCounts = videos.map(v => parseInt(v.statistics.viewCount) || 0);\nconst actualAvg = viewCounts.reduce((a, b) => a + b, 0) / Math.max(viewCounts.length, 1);\n\nconst scoredVideos = videos.map((video, index) => {\n  const viewCount = parseInt(video.statistics.viewCount) || 0;\n  const likeCount = parseInt(video.statistics.likeCount) || 0;\n  const commentCount = parseInt(video.statistics.commentCount) || 0;\n  \n  const viewRatio = viewCount / Math.max(actualAvg, 1);\n  const engagementRate = (likeCount + commentCount * 2) / Math.max(viewCount, 1);\n  const outlierScore = viewRatio * (1 + engagementRate * 10);\n  \n  return {\n    videoId: video.id,\n    channelId: channelId,\n    channelName: channelName,\n    title: video.snippet?.title || 'No title',\n    publishedAt: video.snippet?.publishedAt,\n    viewCount: viewCount,\n    likeCount: likeCount,\n    commentCount: commentCount,\n    avgViews: Math.round(actualAvg),\n    viewRatio: viewRatio.toFixed(2),\n    engagementRate: (engagementRate * 100).toFixed(2) + '%',\n    outlierScore: outlierScore.toFixed(2),\n    isOutlier: viewRatio >= 2.0\n  };\n});\n\nconst outliers = scoredVideos.filter(v => v.isOutlier);\n\nif (outliers.length === 0) {\n  console.log(`${channelName}: 이상치 없음`);\n  return [];\n}\n\noutliers.sort((a, b) => b.outlierScore - a.outlierScore);\nconsole.log(`${channelName}: ${outliers.length}개 이상치 발견`);\n\nreturn outliers.map(v => ({ json: v }));"
      },
      "id": "dad48089-3317-4c98-af9f-4342e7b5ad48",
      "name": "5. 이상치 감지 및 스코어링",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2624,
        400
      ]
    },
    {
      "parameters": {
        "jsCode": "const allOutliers = $input.all().map(item => item.json);\n\nif (allOutliers.length === 0) {\n  throw new Error('이상치가 발견되지 않았습니다. 다음 실행을 기다립니다.');\n}\n\nallOutliers.sort((a, b) => b.outlierScore - a.outlierScore);\nconst top5 = allOutliers.slice(0, 5);\n\nconsole.log('=== TOP 5 급상승 영상 ===');\ntop5.forEach((v, i) => {\n  console.log(`${i+1}. [${v.channelName}] ${v.title} (${v.viewCount} views, ${v.viewRatio}x)`);\n});\n\nreturn top5.map(v => ({ json: v }));"
      },
      "id": "070ba7b2-5727-498c-b8d0-0b2a870b0a1d",
      "name": "6. TOP 5 선택",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2432,
        400
      ]
    },
    {
      "parameters": {
        "url": "={{ 'https://youtube.com/api/timedtext?v=' + $json.videoId + '&lang=ko' }}",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "f5020fe5-4ef6-4037-819d-6fceaa6189d0",
      "name": "7. 자막 추출 시도",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -2224,
        400
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json }}",
              "operation": "isNotEmpty"
            }
          ]
        },
        "options": {}
      },
      "id": "223e7afa-835a-4603-ab03-b14d664699ca",
      "name": "8. 자막 유무 확인",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -2032,
        400
      ]
    },
    {
      "parameters": {
        "jsCode": "const transcriptXml = $json.toString();\n\nconst textMatches = transcriptXml.match(/<text[^>]*>([^<]+)<\\/text>/g) || [];\nconst transcript = textMatches\n  .map(match => match.replace(/<[^>]*>/g, '').trim())\n  .filter(text => text.length > 0)\n  .join(' ');\n\nif (!transcript) {\n  throw new Error('자막을 파싱할 수 없습니다.');\n}\n\nreturn {\n  json: {\n    ...($('6. TOP 5 선택').item.json),\n    transcript: transcript,\n    transcriptLength: transcript.length\n  }\n};"
      },
      "id": "a32b7458-82db-417f-a45d-a74f0f8383a1",
      "name": "9. 자막 파싱",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1824,
        304
      ]
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "responses": {
          "values": [
            {
              "content": "너는 시니어야"
            },
            {
              "role": "system",
              "content": "영상을 만들어야되"
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "id": "5e44513f-7a05-475f-865a-bfddf3f481ec",
      "name": "10. GPT 트렌드 분석",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2,
      "position": [
        -3344,
        720
      ],
      "credentials": {
        "openAiApi": {
          "id": "sJPPMgnhjsgphIV9",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "responses": {
          "values": [
            {}
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "id": "a3d95194-99b0-426e-958e-b4a30b7855ab",
      "name": "11. 주제 재해석 (보람이)",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2,
      "position": [
        -3024,
        720
      ],
      "credentials": {
        "openAiApi": {
          "id": "sJPPMgnhjsgphIV9",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "responses": {
          "values": [
            {}
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "id": "48165c02-3c1d-42ac-bcdf-7d0f8da4f443",
      "name": "12. 슈퍼 보람이 대본 생성",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2,
      "position": [
        -2704,
        720
      ],
      "credentials": {
        "openAiApi": {
          "id": "sJPPMgnhjsgphIV9",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const script = $json.toString();\nlet sentences = script.split('\\n').map(s => s.trim()).filter(s => s);\n\nsentences = sentences.map(s => s.replace(/^\\d+\\.\\s*/, ''));\n\nwhile (sentences.length < 6) {\n  sentences.push('사랑해요 할머니! 건강하세요!');\n}\n\nsentences = sentences.slice(0, 6);\n\nreturn sentences.map((sentence, index) => ({\n  json: {\n    sentence: sentence,\n    index: index + 1,\n    topic: $('11. 주제 재해석 (보람이)').item.json.toString(),\n    originalVideo: {\n      id: $('9. 자막 파싱').item.json.videoId,\n      title: $('9. 자막 파싱').item.json.title,\n      channel: $('9. 자막 파싱').item.json.channelName\n    }\n  }\n}));"
      },
      "id": "54207579-aba4-4ae7-be65-ef8e85ff6342",
      "name": "13. 대본 6분할",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2384,
        720
      ]
    },
    {
      "parameters": {
        "resource": "image",
        "prompt": "={{ 'Pixar style 3D animation, cute 5-year-old Korean girl wearing white doctor gown, big eyes, sweet smile. Colorful medical clinic background. Scene: ' + $json.sentence }}",
        "options": {
          "size": "1024x1024"
        }
      },
      "id": "24eb74b2-7b63-48bf-882c-d6f015015023",
      "name": "14. 이미지 생성 (DALL-E)",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2,
      "position": [
        -2192,
        608
      ],
      "credentials": {
        "openAiApi": {
          "id": "sJPPMgnhjsgphIV9",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "resource": "audio",
        "options": {
          "speed": 0.85
        }
      },
      "id": "5b664ac0-b43d-4d56-bc94-a33ac51b7510",
      "name": "15. 오디오 생성 (TTS)",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2,
      "position": [
        -2192,
        816
      ],
      "credentials": {
        "openAiApi": {
          "id": "sJPPMgnhjsgphIV9",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "name": "={{ 'image_' + $json.index + '.png' }}",
        "driveId": {
          "__rl": true,
          "value": "My Drive",
          "mode": "list"
        },
        "folderId": {
          "__rl": true,
          "value": "YOUR_DRIVE_FOLDER_ID",
          "mode": "id"
        },
        "options": {}
      },
      "id": "6c2bb883-cf8d-4db2-8d42-062aebefe991",
      "name": "16. 이미지 백업 (Drive)",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -1984,
        608
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "WPZfhNj5Q0D1maw9",
          "name": "Google Drive account 2"
        }
      }
    },
    {
      "parameters": {
        "name": "={{ 'audio_' + $json.index + '.mp3' }}",
        "driveId": {
          "__rl": true,
          "value": "My Drive",
          "mode": "list"
        },
        "folderId": {
          "__rl": true,
          "value": "YOUR_DRIVE_FOLDER_ID",
          "mode": "id"
        },
        "options": {}
      },
      "id": "8889eff8-38da-49be-98f5-836ace657821",
      "name": "17. 오디오 백업 (Drive)",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -1984,
        816
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "WPZfhNj5Q0D1maw9",
          "name": "Google Drive account 2"
        }
      }
    },
    {
      "parameters": {
        "mode": "mergeByPosition"
      },
      "id": "f7e754db-b466-48d2-a5e9-1f294dc53159",
      "name": "18. 자산 병합",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        -1792,
        720
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.creatomate.com/v1/renders",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ {\n  template_id: 'YOUR_CREATOMATE_TEMPLATE_ID',\n  modifications: {\n    'Subtitle-1': $('18. 자산 병합').all()[0].json.sentence,\n    'Image-1': $('16. 이미지 백업 (Drive)').all()[0].json.webContentLink,\n    'Audio-1': $('17. 오디오 백업 (Drive)').all()[0].json.webContentLink,\n    'Subtitle-2': $('18. 자산 병합').all()[1].json.sentence,\n    'Image-2': $('16. 이미지 백업 (Drive)').all()[1].json.webContentLink,\n    'Audio-2': $('17. 오디오 백업 (Drive)').all()[1].json.webContentLink,\n    'Subtitle-3': $('18. 자산 병합').all()[2].json.sentence,\n    'Image-3': $('16. 이미지 백업 (Drive)').all()[2].json.webContentLink,\n    'Audio-3': $('17. 오디오 백업 (Drive)').all()[2].json.webContentLink,\n    'Subtitle-4': $('18. 자산 병합').all()[3].json.sentence,\n    'Image-4': $('16. 이미지 백업 (Drive)').all()[3].json.webContentLink,\n    'Audio-4': $('17. 오디오 백업 (Drive)').all()[3].json.webContentLink,\n    'Subtitle-5': $('18. 자산 병합').all()[4].json.sentence,\n    'Image-5': $('16. 이미지 백업 (Drive)').all()[4].json.webContentLink,\n    'Audio-5': $('17. 오디오 백업 (Drive)').all()[4].json.webContentLink,\n    'Subtitle-6': $('18. 자산 병합').all()[5].json.sentence,\n    'Image-6': $('16. 이미지 백업 (Drive)').all()[5].json.webContentLink,\n    'Audio-6': $('17. 오디오 백업 (Drive)').all()[5].json.webContentLink\n  }\n} }}",
        "options": {}
      },
      "id": "35093612-9b58-4b98-9871-0888e4f89240",
      "name": "19. 영상 렌더링 (Creatomate)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -3344,
        992
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "Tzlf95EWgm3pWD1A",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "amount": 30,
        "unit": "seconds"
      },
      "id": "a0538b29-96eb-4d34-b725-baba1ed8e49e",
      "name": "20. 대기 (30초)",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        -3152,
        992
      ],
      "webhookId": "0b47afde-d266-49f8-afc7-aec8078342e0"
    },
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "id": "53abd1a9-2179-4f10-99e9-ada98725c01b",
      "name": "21. 영상 다운로드",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -2944,
        992
      ]
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $binary.data.fileSize }}",
              "operation": "larger",
              "value2": 2000000
            }
          ]
        },
        "options": {}
      },
      "id": "320f9630-495e-4fcb-908f-400e1b7c1d2a",
      "name": "22. 영상 검증 (>2MB)",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -2752,
        992
      ]
    },
    {
      "parameters": {
        "resource": "video",
        "operation": "upload",
        "title": "={{ $('13. 대본 6분할').first().json.topic }}",
        "categoryId": "26",
        "options": {}
      },
      "id": "c63b197d-1633-4de7-b21d-07d37d0038cd",
      "name": "23. 유튜브 업로드",
      "type": "n8n-nodes-base.youTube",
      "typeVersion": 1,
      "position": [
        -2560,
        992
      ],
      "credentials": {
        "youTubeOAuth2Api": {
          "id": "oLZPXMvaa8mS5fz0",
          "name": "YouTube account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "YOUR_GOOGLE_SHEET_ID",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "date": "={{ $now.toFormat('yyyy-MM-dd HH:mm') }}",
            "our_topic": "={{ $('13. 대본 6분할').first().json.topic }}",
            "our_video_id": "={{ $json.id }}",
            "our_video_url": "={{ 'https://youtube.com/watch?v=' + $json.id }}",
            "original_video_id": "={{ $('13. 대본 6분할').first().json.originalVideo.id }}",
            "original_title": "={{ $('13. 대본 6분할').first().json.originalVideo.title }}",
            "original_channel": "={{ $('13. 대본 6분할').first().json.originalVideo.channel }}",
            "original_views": "={{ $('9. 자막 파싱').item.json.viewCount }}",
            "outlier_score": "={{ $('9. 자막 파싱').item.json.outlierScore }}",
            "status": "uploaded"
          }
        },
        "options": {}
      },
      "id": "34748349-4cb4-4994-afe3-09652009fe8f",
      "name": "24. 원본 참조 기록 (Sheets)",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -2352,
        992
      ]
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        -3072,
        1120
      ],
      "id": "7c5a1c53-1b38-49d6-8d35-92c365047d69",
      "name": "Call n8n Workflow Tool"
    }
  ],
  "pinData": {},
  "connections": {
    "Create an issue in Jira Software": {
      "ai_tool": [
        [
          {
            "node": "Message a model",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "1. 6시간마다 실행": {
      "main": [
        [
          {
            "node": "2. 타겟 채널 리스트",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "2. 타겟 채널 리스트": {
      "main": [
        [
          {
            "node": "3. 채널별 최근 1주 영상",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "3. 채널별 최근 1주 영상": {
      "main": [
        [
          {
            "node": "4. 통계 수집",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "4. 통계 수집": {
      "main": [
        [
          {
            "node": "5. 이상치 감지 및 스코어링",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "5. 이상치 감지 및 스코어링": {
      "main": [
        [
          {
            "node": "6. TOP 5 선택",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "6. TOP 5 선택": {
      "main": [
        [
          {
            "node": "7. 자막 추출 시도",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "7. 자막 추출 시도": {
      "main": [
        [
          {
            "node": "8. 자막 유무 확인",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "8. 자막 유무 확인": {
      "main": [
        [
          {
            "node": "9. 자막 파싱",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "9. 자막 파싱": {
      "main": [
        [
          {
            "node": "10. GPT 트렌드 분석",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "10. GPT 트렌드 분석": {
      "main": [
        [
          {
            "node": "11. 주제 재해석 (보람이)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "11. 주제 재해석 (보람이)": {
      "main": [
        [
          {
            "node": "12. 슈퍼 보람이 대본 생성",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "12. 슈퍼 보람이 대본 생성": {
      "main": [
        [
          {
            "node": "13. 대본 6분할",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "13. 대본 6분할": {
      "main": [
        [
          {
            "node": "14. 이미지 생성 (DALL-E)",
            "type": "main",
            "index": 0
          },
          {
            "node": "15. 오디오 생성 (TTS)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "14. 이미지 생성 (DALL-E)": {
      "main": [
        [
          {
            "node": "16. 이미지 백업 (Drive)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "15. 오디오 생성 (TTS)": {
      "main": [
        [
          {
            "node": "17. 오디오 백업 (Drive)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "16. 이미지 백업 (Drive)": {
      "main": [
        [
          {
            "node": "18. 자산 병합",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "17. 오디오 백업 (Drive)": {
      "main": [
        [
          {
            "node": "18. 자산 병합",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "18. 자산 병합": {
      "main": [
        [
          {
            "node": "19. 영상 렌더링 (Creatomate)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "19. 영상 렌더링 (Creatomate)": {
      "main": [
        [
          {
            "node": "20. 대기 (30초)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "20. 대기 (30초)": {
      "main": [
        [
          {
            "node": "21. 영상 다운로드",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "21. 영상 다운로드": {
      "main": [
        [
          {
            "node": "22. 영상 검증 (>2MB)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "22. 영상 검증 (>2MB)": {
      "main": [
        [
          {
            "node": "23. 유튜브 업로드",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "23. 유튜브 업로드": {
      "main": [
        [
          {
            "node": "24. 원본 참조 기록 (Sheets)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call n8n Workflow Tool": {
      "ai_tool": [
        [
          {
            "node": "10. GPT 트렌드 분석",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "d55a97fd-b1b0-4438-878d-f884eaed1e91",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "4aae468442c323b9d7aeb70601530b18fe7dbbd836a0eb2623b1cb66bb4f0b2a"
  },
  "id": "9YEDeXFeeZ1onVOK",
  "tags": []
}